.skating_container {
	display: flex;
}

.skating_cont {
  width: 90%;
  margin: 130px auto 30px auto;
}

.skating_title {
  background-color: black;
  border-radius: 5px;
  padding: 0px 0px 0px 30px;
  opacity: 0.6;
  color: white;
  font-size: 100px;
  font-family: monospace;
  font-weight: bold;
}

.content_cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 50px;
  margin-bottom: 150px;
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.main_image {
  width: 800px;
  height: 500px;
  background-image: url('https://d3plr6xnj3tfvw.cloudfront.net/Core/skatepark.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: 100% 100%;
  margin: 20px auto 0px auto;
  border: 1px solid white;
  border-radius: 5px;
}

.text_1, .text_2, .text_3, .main_text {
  width: 500px;
  height: 450px;
  background-color: red;
  color: black;
  font-size: 15px;
  font-family: monospace;
  margin: auto;
  background-color: white;
  opacity: 0.9;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-top: 120px;
  margin-bottom: 50px;
  border: 1px solid black;
}

.main_text {
  margin-top: 45px
}

.video_1, .video_2, .video_3 {
  width: 800px;
  height: 500px;
  margin: auto;
  margin-top: 120px;
  border-radius: 5px;
  margin-bottom: 50px;
  border: 1px solid white;
  opacity: 0.9;
  cursor: pointer;
}

.video_1 {
  background-image: url('https://d3plr6xnj3tfvw.cloudfront.net/Core/skate_vid_1.png');
}

.video_2 {
  background-image: url('https://d3plr6xnj3tfvw.cloudfront.net/Core/skate_vid_2.png');
}

.video_1:hover, .video_2:hover {
  opacity: 1;
}


@media screen and (max-width: 800px) {
  .skating_title {
    font-size: 75px;
    height: 115px;
  }
  .skating_cont {
    width: 95%;
    margin: 130px auto 20px auto;
  }
  .content_cont {
    padding: 15px;
  }
  .main_image {
    order: 1;
    width: 350px;
    height: 250px;
  }
  .main_text {
    order: 2;
    font-size: 11px;
    height: 250px;
    margin-top: 20px;
  }
  .video_1 {
    order: 3;
    height: 250px;
    margin: 50px 0px 50px 0px;
  }
  .text_1 {
    order: 4;
    height: 150px;
    margin: 20px 0px 100px 0px;
    font-size: 11px;
  }
  .video_2 {
    order: 5;
    height: 250px;
    margin: 50px 0px 50px 0px;
  }
  .text_2 {
    order: 6;
    height: 150px;
    margin: 20px 0px 100px 0px;
    font-size: 11px;
  }
  .video_3 {
    order: 7;
    height: 250px;
    margin: 50px 0px 50px 0px;
  }
  .text_3 {
    order: 8;
    height: 150px;
    margin: 20px 0px 40px 0px;
    font-size: 11px;
  }
}


