.storeCont {
  display: flex;
  flex-wrap: wrap;
  width: 88%;
  margin-left: 6%;
  margin-top: 1vw;
}

@media only screen and (max-width: 1050px) {
  .storeCont {
    width: 100%;
    margin-left: 1vw;
  }
}

.tile {
  height: 30vw;
  width: 27%;
  margin-left: 4.15vw;
  margin-bottom: 2vw;
  background-color: #333333;
  border: 2px solid #333333
}

.tile:hover {
  opacity: 0.93;
  cursor: pointer;
}

.image {
  height: 75%;
  width: 100%;
  object-fit: cover;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: 100% 100%;
}

.detailBox{
  position: relative;
}

.text {
  margin-top: 1.2vw;
  text-align: center;
  font-weight: bold;
  font-family: monospace;
  font-size: 1.5vw;
  color: white;
}

.price {
  margin-top: 1vw;
  text-align: center;
  font-weight: bold;
  font-family: monospace;
  color: white;
  font-size: 1.3vw;
}



/* ------------- Item Preview ------------ */

.previewCont{
  display: flex;
  flex-wrap: wrap;
  width: 88%;
  margin-left: 6%;
  margin-top: 1vw;
  background-color: grey;
}


