.adminCont{
  display: flex;
  width: 80%;
  margin-left: 10%;
  margin-top: 100px;
  margin-bottom: 50px;
  height: 50%;
  padding: 200px;

  background-color: green;
  opacity: 0.8;
  flex-direction: column;
  align-items: center;
}

.usernameCont, .passwordCont, .login{
  margin-top: 50px;
}

.username, .usernameTitle, .password, .passwordTitle{
  font-size: 25px;
  color: black;
  font-family: monospace;
  font-weight: bold;
}

.login {
  width: 150px;
  height: 40px;
  font-size: 30px;
  padding: 0px 0px 50px 0px;

  color: black;
  font-family: monospace;
  border-radius: 8px;
  background-color: #29E66B;
  text-align: center;
  border: 1px solid black;
  font-weight: bold;
}

.login:hover{
  opacity: 0.9;
  cursor: pointer;
}
