.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.item_select_container {
  background-color: white;
  margin-bottom: 25px;
  margin-left: 10px;
  border: 5px solid black;
  display: flex;
}

.store_container {
  padding: 40px 0px 140px 0px;
  display: flex;
  flex-wrap: wrap;
}

.store_item_cont {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
}

.category_title  {
  margin: 90px 10px 10px 10px;
  background-color: black;
  border-radius: 5px;
  padding: 0px 30px 0px 30px;
  opacity: 0.6;
  color: white;
  font-size: 100px;
  font-family: monospace;
  font-weight: bold;
  height: 155px;
  width: 100%;
}


.store_category_cont{
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  justify-content: center;
  padding: 40px 0px 40px 0px;
}

.store_category {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 120px;
  font-size: 30px;
  border: 10px solid black;
  font-weight: bold;
  color: white;
  font-family: monospace;
  background-color: rgb(149,0,179,0.9);
}

.store_category:hover {
  background-color: rgb(149,0,179,1);
  cursor: pointer;
}

.featured_item_title {
  background-color: black;
  border-radius: 5px;
  padding: 10px 30px 10px 30px;
  opacity: 0.6;
  color: white;
  font-size: 50px;
  font-family: monospace;
  font-weight: bold;
  height: 95px;
  width: 100%;
  justify-content: center;
  margin: auto;
  margin-top: 40px;
}




@media screen and (max-width: 800px) {
  .store_item_cont {  
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .category_title {
    font-size: 65px;
    height: 105px;
  }
  .featured_item_title {
    font-size: 30px;
    height: 65px;
  }
}

@media screen and (max-width: 500px) {
 .item_select_container {
    margin-left: 0px;
  }
  .sqrImage {
    width: 350px;
    height: 450px;
  }
  .category_title{
    font-size: 45px;
    height: 68px;
  }
}

