
.store_select_container{
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  justify-content: center;
}

.item_select_container {
  background-color: white;
  margin-left: 10px;
  margin-bottom: 10px;
  border: 5px solid black;
}

.store_container {
  display: flex;
  flex-wrap: wrap;
}

.category_title {
  margin: 90px 10px 10px 10px;
  background-color: black;
  border-radius: 5px;
  padding: 0px 0px 0px 30px;
  opacity: 0.6;
  color: white;
  font-size: 100px;
  font-family: monospace;
  font-weight: bold;
  width: 100%;
  height: 155px;
}

.sqrImage {
  width: 400px;
  height: 500px;
  object-fit: cover;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: 100% 100%;
}

.sqrText {
  font-size: 30px;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  color: black;
  font-family: monospace;
}

.sqrImage:Hover {
  opacity: 0.9;
  cursor: pointer;
}


.img1 {
  background-image: url('../../images/IMG-3162.jpg');
}

.img2 {
  background-image: url('../../images/IMG-3163.jpg');
}

.img3 {
  background-image: url('../../images/IMG-3111.jpg');
}

.img3 {
  background-image: url('../../images/IMG-3111.jpg');
}

.img4 {
  background-image: url('../../images/IMG-3156.jpg');
}

@media screen and (max-width: 600px) {
  .item_select_container {  
    margin-left: auto;
    margin-right: auto;
  }
}

