
/* ------------  Carousel  ------------ */

.carousel_cont {
  margin-top: 5vw;
  margin-bottom: 0.5vh;
  height: 100vh;
  width: 90%;
  margin-left: 5%;
}

.carousel_img_style {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: 100% 100%;
}

.carousel_img_1 {
  background-image: url('../../images/IMG_0587.jpeg');
}

.carousel_img_2 {
  background-image: url('../../images/IMG_0568.jpeg');
}

.carousel_img_3 {
  background-image: url('../../images/IMG_0544.jpeg');
}

.display_none {
  display: none;
}

@media only screen and (max-width: 1050px) {
  .carousel_cont {
    width: 100%;
    margin-left: 0%;
    height: 60vh;
  }
}

@media only screen and (max-width: 700px) {
  .carousel_cont {
    width: 100%;
    margin-left: 0%;
    height: 35vh;
  }
}

/* ------------  About Us  ------------ */

.circleContainer {
  height: auto;
  flex-wrap: wrap;
  display: flex;
  width: 90%;
  margin-left: 5%;
  background-color: #E8FFF0;
}

@media only screen and (max-width: 1050px) {
  .circleContainer {
    width: 100%;
    margin-left: 0%;
  }
}

.circleCont {
  width: 33.3%;
  height: 100%;
}

.circleImg {
  width: 70%;
  margin-left: 15%;
  height: 20vw;
  margin-top: 3.5vw;
  border-radius: 100%;
  object-fit: cover;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size:100% 100%;
}

@media only screen and (max-width: 1050px) {
  .circleImg {
    height: 25vw;
    width: 75%;
    margin-left: 12.5%;
  }
}

.circleText {
  width: 60%;
  margin-left: 20%;
  height: 3vw;
  margin-top: 3.5vw;
  border-radius: 100%;
  margin-bottom: 3.5vw;
  font-weight: bold;
  font-size: 2vw;
  text-align: center;
  color: black;
  font-family: monospace;
}

.circle_img1 {
  background-image: url('../../images/llangland_mates.jpg');
}

.circle_img2 {
  background-image: url('../../images/IMG-3163.jpg');
}

.circle_img3 {
  background-image: url('../../images/louis_llangland_0.jpg');
}

.circleImg:hover, .circleImg2:hover, .circleImg3:hover{
  opacity: 0.9;
  cursor: pointer;
}




/* ------------  shopDrop  ------------ */

.shopNowCont {
  height: 42vw;
  width: 90%;
  margin-left: 5%;
  background-color: #E8FFF0;
  flex-direction: row;
}

@media only screen and (max-width: 1050px) {
  .shopNowCont {
    width: 100%;
    margin-left: 0%;
    height: 45vw;
  }
}

.boxCont {
  display: flex;
  flex-direction: row;
  height: 28vw;
  width: 100%;
  margin-left: 3.5%;
  margin-top: 0%;
}

@media only screen and (max-width: 1050px) {
  .boxCont {
    height: 32vw;
  }
}

.box {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.smallCont {
  display: flex;
  width: 100%;
  height: 6vw;
}

.smallBox {
  height: 100%;
  width: 100%;
}

.squareCont {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60%;
}

.large {
  height: 75%;
}

.collection_cont {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.collection_box {
  width: 31%;
  margin: 1% 1% 1% 1%;
}

.collection_img {
  width: 100%;
  height: 25vw;
  object-fit: cover;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: 100% 100%;
}

.collection_image_1 {
  background-image: url('../../images/louis_llangland_1.jpg');
}

.collection_image_2 {
  background-image: url('../../images/summer_vibes.jpg');
}

.collection_image_3 {
  background-image: url('../../images/crown_gif.gif');
  margin-top: 25%;
  height: 50%;
  width: 80%;
  margin-left: 10%;
}


.collection_img:hover{
  opacity: 0.9;
  cursor: pointer;
}

.collection_text {
  font-weight: bold;
  font-size: 2vw;
  text-align: center;
  color: black;
  font-family: monospace;
}

.shopTitle {
  color: black;
  font-family: monospace;
  width: 60%;
  margin-left: 20%;
  margin-top: 2.5vw;
  height: 1vw;
  padding: 0.4em 0em 1.2em 0em;
  border-radius: 8px;
  background-color: #29E66B;
  text-align: center;
  font-size: 2vw;
  border: 1px solid black;
  font-weight: bold;
}

@media only screen and (max-width: 1050px) {
  .shopTitle {
    font-size: 4vw;
    margin-left: 9%;
    margin-top: 0.5vw;
    height: 2vw;
    width: 80%;
  }
}

.shopTitle:hover {
  opacity: 0.9;
  cursor: pointer;
}

.titleDash {
  color: #333333;
  font-family: monospace;
  width: 60%;
  margin-left: 20%;
  margin-top: 1.75vw;
  height: 0.5vw;
  padding: 0em 0em 0em 0em;
  border-radius: 8px;
  background-color: #333333;
  text-align: center;
  font-size: 2vw;
}

.crown {
  margin-top: -1vw;
  width: 18%;
  margin-left: 41%;
  height: 5vw;
  object-fit: cover;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: 100% 100%;
  background-image: url('../../images/1nce_logo_2.png');
}

.crown:hover {
  opacity: 0.9;
  cursor: pointer;
}

