.home_container {
  padding: 40px 0px 0px 0px;
}


/* ------------  Carousel  ------------ */

.carousel_cont {
  margin: 90px auto 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel_img_style {
  margin: auto;
  width: 95%;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: 100% 100%;
  border: 8px solid black;
  border-radius: 5px;
}

.display_none {
  display: none;
}


/* ------------  Circles  ------------ */

.shop_now_cont {
  display: flex;
}

.circleCont {
  width: 100%;
}

.verticle_cont{
  display: flex;
  flex-direction: column;
}

.circle_master_cont {
  display: flex;
  margin: 0px 30px 0px 30px;
  width: 100%;
}

.circleImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 20vw;
  margin-top: 40px;
  margin-bottom: 30px;
  border-radius: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: 100% 100%;
  border: 8px solid black;
}

.circleText {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
  color: black;
  font-family: monospace;
  color: white;
  background: black;
  border-radius: 5px;  
  width: 200px;
  margin: auto;
}

.circle_img1 {
  background-image: url('https://d3plr6xnj3tfvw.cloudfront.net/Core/skate_page_circle.png');
}

.circle_img2 {
  background-image: url('https://d3plr6xnj3tfvw.cloudfront.net/Core/pink_panther_blue.png');
}

.circle_img3 {
  background-image: url('https://d3plr6xnj3tfvw.cloudfront.net/Core/llangland_mates_circle.png');
}

.circleImg:hover, .circleImg2:hover, .circleImg3:hover{
  opacity: 0.9;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .carousel_cont {
    margin: 90px auto 20px auto;
  }
  .circleContainer {
    flex-direction: column;
    margin: 0px 0px 50px 0px;
  }
  .circleCont {
    display: flex;
    height: 230px
  }
  .circleImg {
    width: 200px;
    height: 200px;
  }
  .circleText {
    margin: 120px auto auto auto;
    font-size: 30px;
    width: 150px;
  }
}



/* ------------  Collections  ------------ */


.collection_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px 0px 100px 0px;
}

.collection_tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.95;
}

.collection_tile:hover {
  cursor: pointer;
  opacity: 1;
}

.collection_text {
  font-size: 35px;
  margin-top: 30px;
  font-weight: bold;
  color: black;
  font-family: monospace;
  text-align: center;
  color: white;
  background-color: black;
  border-radius: 5px;
}

.dash {
  width: 350px;
  font-size: 50px;
  margin-left: auto;
  margin-right: auto;
  color: black;
}

.collection_img {
  width: 400px;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: 100% 100%;
  border: 8px solid black;
  border-radius: 5px;
}

.collection_img_mobile {
  display: none;
}

.collection_image_1 {
  background-image: url('https://d3plr6xnj3tfvw.cloudfront.net/Core/2022_collection_img.jpg');
}

.collection_image_2 {
  background-image: url('https://d3plr6xnj3tfvw.cloudfront.net/Core/summer_vibes.jpg');
}

.collection_image_3 {
  background-image: url('https://d3plr6xnj3tfvw.cloudfront.net/Core/crown_gif.gif');
  width: 300px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 0px;
}

.shop_now_button {
  color: white;
  font-family: monospace;
  font-size: 60px;
  border: 5px solid black;
  font-weight: bold;
  border-radius: 5px;
  background-color: #30003c;
  padding: 5px 25px 5px 25px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.9;
}

.logo_login_button {
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: 100% 100%;
  background-image: url('https://d3plr6xnj3tfvw.cloudfront.net/Core/1nce_logo_2.png');
  opacity: 0.9;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.logo_login_button:hover {
  opacity: 1;
  cursor: pointer;
}

.shop_now_button:hover {
  opacity: 1;
  cursor: pointer;
  border: 5px solid white;
}


@media only screen and (max-width: 650px) {
  .collection_tile {
    margin-left: auto;
    margin-right: auto;
  }
  .collection_img {
    width: 350px;
    height: 350px;
  }
  .collection_image_3 {
    width: 200px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
  }
  .mobile_order {
    order: 1;
  }
  .shop_now_button {
    margin-top: 50px;
    margin-bottom: 35px;
  }
  .logo_login_button {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .collection_img_mobile {
    display: inline;
    margin: 50px 0px 50px 0px;
    background-image: url('https://d3plr6xnj3tfvw.cloudfront.net/Core/crown_gif.gif');
    width: 300px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border: none;
  }
  .collection_image_3 {
    display: none;
  }
  .logo_login_button {
    width: 70px;
    height: 70px;
    margin: 20px auto 20px auto;
  }
}


@media only screen and (max-width: 1280px) and (min-width: 650px) {
  .collection_container {
    flex-direction: column;
  }
  .collection_img {
    width: 500px;
    height: 500px;
  }
  .collection_image_3 {
    width: 300px;
    height: 200px;
  }
  .shop_now_button {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .logo_login_button {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}


/* ------- Contact Window --------- */


.contact_cont {
  width: 90%;
  margin: 0px auto 30px auto;
}

.contact_container {
  display: flex;
}

.contact_title {
  width: 70%;
  margin: 0px auto 30px auto;
  background-color: rgba(0, 0, 0, 0.6); 
  border-radius: 5px;
  padding: 0px 0px 0px 30px;
  color: white;
  font-size: 60px;
  font-family: monospace;
  font-weight: bold;
}

.contact_content_cont {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 70%;
  justify-content: center;
  padding: 50px;
  margin-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.6); 
}

.email {
  margin: auto;
  margin-top: 30px;
  width: 80%;
  height: 50px;
  font-size: 18px;
  font-family: monospace;
  margin-bottom: 50px;
}

.text_area {
  margin: auto;
  width: 80%;
  height: 250px;
  font-size: 18px;
  font-family: monospace;
  margin-bottom: 50px;
}

.send_button {
  color: black;
  font-family: monospace;
  font-size: 30px;
  border: 1px solid black;
  font-weight: bold;
  border-radius: 8px;
  background-color: #29E66B;
  padding: 10px 25px 10px 25px;
  margin: auto;
  margin-top: 20px;
  opacity: 0.9;
}

.send_button:hover {
  opacity: 1;
  cursor: pointer;
}

.message_response {
  font-size: 20px;
  font-family: monospace;
  margin: auto;
  margin-top: 20px;
  color: white;
  height: 10px;
}


@media screen and (max-width: 1400px) {
  .contact_cont {
    width: 95%;
  }
  .contact_title {
    font-size: 50px;
  }
  .contact_text {
    font-size: 14px;
    padding: 30px;
  }
  .contact_content_cont {
    margin-top: 35px;
    width: 95%;
    padding: 20px;
  }
  .email {
    margin-top: 30px;
    width: 90%;
  }
  .text_area {
    width: 90%;
  }
  .send_button {
    font-size: 25px;
  }
}



/* Social Media Panel */

.social_media_cont {
  display: flex;
  width: 50%;
  margin: 0px auto 30px auto;
  background: grey;
  margin-bottom: 100px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6); 
}

.item_cont {
  display: flex;
  justify-content: center;
  padding: 40px;
  width: 50%;
}

.insta_img {
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: 100% 100%;
  background-image: url('https://d3plr6xnj3tfvw.cloudfront.net/Core/instagram.png');
}

.youtube_img {
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: 100% 100%;
  background-image: url('https://d3plr6xnj3tfvw.cloudfront.net/Core/youtube.png');
}

.iconTxt {
  margin-top: 35px;
  margin-left: 15px;
  font-size: 20px;
  color: white;
  font-family: monospace;
}

.youtube_img:hover {
  opacity: 0.9;
  cursor: pointer;
}

.insta_widget:hover {
  opacity: 0.9;
  cursor: pointer;
}


@media only screen and (max-width: 1280px) {
  .social_media_cont {
    justify-content: center;
  }
  .insta_img, .youtube_img {
    margin: auto;
  }
  .iconTxt { 
    margin: auto;
    margin-top: 30px;
  }
  .item_cont {
    width: 100%;
    flex-direction: column;
  }
}


@media screen and (max-width: 800px) {
  .social_media_cont {
    flex-direction: column;
  }
  .footerBox {
    flex-direction: column;
  }
  .icon {
    width: 50px;
    height: 50px;
    margin: 15px auto auto auto;
  }
}



/* 400px Window */

@media only screen and (max-width: 400px) {
  .shop_now_button {
    font-size: 50px;
  }
  .social_media_cont {
    width: 250px;
  }
  .insta_img {
    width: 110px;
  }
  .youtube_img {
    width: 110px;
  }
  .contact_title {
    font-size: 28px;
    width: 260px;
    margin-bottom: 70px;
  }
  .logo_login_button{
    margin-top: 10px;
  }
  .collection_container {
    padding: 50px 0px 20px 0px;
  }
  .collection_img {
    width: 300px;
    height: 300px;
    margin: auto;
  }
  .collection_text {
    font-size: 30px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  .collection_img_mobile {
    width: 200px;
    height: 200px;
  }
  .circleText {
    font-size: 22px;
    width: 120px;
  }
}
