.about_container {
  display: flex;
}

.about_cont {
  width: 90%;
  margin: 130px auto 30px auto;
}

.about_title {
  background-color: black;
  border-radius: 5px;
  padding: 0px 0px 0px 30px;
  opacity: 0.6;
  color: white;
  font-size: 100px;
  font-family: monospace;
  font-weight: bold;
}

.about_content_cont {
  display: flex;
  margin: auto;
  width: 90%;
  justify-content: center;
  padding: 75px;
  margin-bottom: 120px;
  margin-top: 50px;
  background-color: #444444;
  opacity: 0.9;
}

.about_text {
  color: white;
  font-size: 18px;
  padding: 50px;
  font-family: monospace;
  margin-left: 20px;
}

.about_img {
  width: 500px;
  height: 800px;
  border-radius: 5px;
  margin-top: 190px;
}

.paragraph {
  margin-bottom: 30px;
}

@media screen and (max-width: 1400px) {
  .about_text {
    font-size: 14px;
    padding: 30px;
  }
  .about_img {
    width: 400px;
    height: 650px;
  }
  .about_content_cont {
    width: 95%;
    padding: 50px;
  }
}

@media screen and (max-width: 1100px) {
  .about_text {
    font-size: 15px;
  }
  .about_img {
    margin: auto;
    width: 500px;
    height: 650px;
    margin-bottom: 30px;
  }
  .about_content_cont {
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  .about_title {
    font-size: 75px;
    height: 115px;
  }
  .about_cont {
    width: 95%;
  }
  .about_img {
    margin-top: 50px;
    width: 300px;
    height: 400px;
  }
  .about_content_cont {
    width: 100%;
    padding: 10px;
  }
  .about_text {
    font-size: 12px;
    padding: 10px;
  }
}

@media screen and (max-width: 400px) {
  .about_title {
    font-size: 60px;
    height: 95px;
  }
}
