/* ------------  Navbar  ------------ */

.navbar {
  display: flex;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0px;
  z-index: 2;
  background-color: #30003c;
}

.navbar_flex_item {
  width: 100%;
}

.logo1nce{
  width: 300px;
  height: 80px;
  margin-top: 5px;
  background-image: url('../../images/1ncelogo1.png');
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
}

.storeTitle{
  width: 250px;
  margin-top: 15px;
  font-size: 45px;
  margin-right: auto;
  margin-left: auto;
  color: white;
  font-weight: bolder;
  font-family: monospace;
}

.basketCont {
  width: 90px;
  height: 80px;
  margin-top: 10px;
  float: right;
  margin-right: 10%;
}  


.basketCont:hover, .dropdown:hover, .logo1nce:hover, .storeTitle:hover {
  opacity: 0.9;
  cursor: pointer;
}

.shopBtn{
  width: 100%;
  height: 100%;
  margin-left: 10%;
  background-image: url('../../images/whiteShoppingCart.png');
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: 100% 100%;
}

.shopCounter {
  width: 100%;
  height: 8vh;
  margin-top: 1vw;
  color: white;
  font-size: 2vw;
  font-weight: bolder;
  font-family: monospace;
  display: none;
}

@media screen and (max-width: 800px) {
  .logo1nce {   
    width: 180px;
    margin-top: 20px;
  }
  .storeTitle {   
    width: 90px;
    font-size: 35px;
    line-height: 30px;
    margin-top: 10px;
    border: 1px solid white;
    border-radius: 8px;
    padding: 10px 90px 10px 10px;
  }
}


/* ----- Underbar ----- */

.underbar {
  width: 100%;
  height: 15px;
  background-color: #30003c;
}

.underbar_header {
  width: 100%;
  height: 15px;
  background-color: #30003c;
  position: fixed;
  top: 105px;
}

.underbar_footer {
  width: 100%;
  height: 15px;
  background-color: #30003c;
  position: absolute;
  bottom: 105px;
}


/* ------------  Footer  ------------ */

.footer {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #30003c;
  margin-top: 50px;
  position: absolute;
  bottom: 0px;
}

.footerBox {
  display: flex;
  height: 100%;
  width: 33.33%;
}

.icon {
  width: 50px;
  margin-left: 45%;
  height: 50px;
  margin-top: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: 100% 100%;
}

.iconTxt {
  margin-top: 35px;
  margin-left: 15px;
  font-size: 20px;
  color: white;
  font-family: monospace;
}

.icon:hover {
  opacity: 0.9;
  cursor: pointer;
}

.icon1 {
 background-image: url('../../images/instagram.png');
}

.icon2 {
 background-image: url('../../images/depop.png');
}

.icon3 {
 background-image: url('../../images/mail.png');
}


@media screen and (max-width: 800px) {
  .footerBox {
    flex-direction: column;
  }
  .icon {
    width: 50px;
    height: 50px;
    margin: 15px auto auto auto;
  }
  .iconTxt {
    font-size: 12px;
    text-align: center;
    margin: auto auto 10px auto;
  }
}




