/* ------------  Navbar  ------------ */

.header {
  width: 100%;
  margin-left: 0%;
  height: 6vw;
  margin-top: -1vh;
  position: fixed;
  background-color: #30003c;
  z-index: 2;
}

@media only screen and (max-width: 1050px) {
  .header {
    height: 10vw;
  }
}

.underbar {
  width: 100%;
  margin-left: 0%;
  height: 1.5vh;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  background-color: #30003c;
}

.logo1nce{
  position: absolute;
  width: 20%;
  margin-left: 1.5%;
  height: 5vw;
  margin-top: 0.5vw;
  background-image: url('../../images/1ncelogo1.png');
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: 100% 100%;
}

@media only screen and (max-width: 1050px) {
  .logo1nce {
    height: 10vw;
    margin-top: 0vw;
    width: 25%;
  }
}

.basketCont {
  position: absolute;
  width: 6%;
  height: 5vw;
  margin-top: 0.5vw;
  margin-left: 92%;
}

@media only screen and (max-width: 1050px) {
  .basketCont {
    height: 9vw;
    width: 10%;
    margin-left: 88%;
  }
}

.basketCont:hover, .dropdown:hover, .logo1nce:hover, .storeTitle:hover {
  opacity: 0.9;
  cursor: pointer;
}

.shopBtn{
  position: absolute;
  width: 100%;
  height: 100%;
  margin-left: 10%;
  background-image: url('../../images/whiteShoppingCart.png');
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: 100% 100%;
}

.shopCounter {
  position: absolute;
  width: 100%;
  height: 8vh;
  margin-top: 1vw;
  color: white;
  font-size: 2vw;
  font-weight: bolder;
  font-family: monospace;
  display: none;
}

@media only screen and (max-width: 1050px) {
  .shopCounter {
    font-size: 4vw;
    margin-top: 1.5vw;
  }
}

.storeTitle{
  position: absolute;
  margin-left: 43%;
  margin-top: 1vw;
  color: white;
  font-size: 3vw;
  font-weight: bolder;
  font-family: monospace;
}

@media only screen and (max-width: 1050px) {
  .storeTitle {
    font-size: 5vw;  
    margin-left: 58%;
  }
}

.dropdown{
  position: absolute;
  width: 5%;
  height: 4vw;
  margin-left: 85%;
  margin-top: 1.5vw;
  background-image: url('../../images/dropdown.png');
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: 100% 100%;
}

@media only screen and (max-width: 1050px) {
  .dropdown {
    height: 8vw;
    width: 7%;
    margin-left: 75%;
    margin-top: 1.3vw;
  }
}


/* ------------  Footer  ------------ */

.footer {
  display: flex;
  width: 100%;
  margin-left: 0%;
  bottom: 0;
  height: 6vw;
  background-color: #30003c;
}

@media only screen and (max-width: 1050px) {
  .footer {
    height: 10vw;
  }
}

.footerBox {
  display: flex;
  height: 100%;
  width: 33.33%;
}

.icon {
  width: 10%;
  margin-left: 40%;
  height: 3vw;
  margin-top: 1.5vw;
  object-fit: cover;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: 100% 100%;
}

@media only screen and (max-width: 1050px) {
  .icon {
    margin-top: 3.5vw;
    height: 3.5vw;
  }
}

.icon:hover {
  opacity: 0.9;
  cursor: pointer;
}

.icon1 {
 background-image: url('../../images/instagram.png');
}

.icon2 {
 background-image: url('../../images/depop.png');
}

.icon3 {
 background-image: url('../../images/mail.png');
}

.iconTxt {
  font-size: 1.5vw;
  margin-top: 1.8vw;
  margin-left: 3%;
  text-align: center;
  color: white;
  font-family: monospace;
}

@media only screen and (max-width: 1050px) {
  .iconTxt {
    margin-top: 3.3vw;
    height: 3.5vw;
    font-size: 2.5vw;
  }
}



/* ------------  Dropdown  ------------ */

.box_display  {
  display: inline;
}

.box_nodisplay  {
  display: none;
}

.dropdown_box {
  position: absolute;
  margin-left: 81%;
  width: 15%;
  height: 15vw;
  z-index: 2;
  margin-top: 6vw;
}

@media only screen and (max-width: 1050px) {
  .dropdown_box {
    margin-left: 77%;
    margin-top: 10vw; 
    width: 20%;
  }
}

.dropdown_list {
  color: #dddddd;
  font-size: 1.5vw;
  height: 5vw;
  text-align: center;
  padding: 1.5vw 0vw 1vw 0vw;
  border: 1px solid #999999;
  font-weight: bolder;
  font-family: monospace;
  user-select: none;
  background-color: #30003c;
}

@media only screen and (max-width: 1050px) {
  .dropdown_list {
    height: 10vw;
    font-size: 2.5vw;
    padding: 3vw 0vw 1vw 0vw;
  }
}

.dropdown_list:hover {
  color: #ffffff;
  cursor: pointer;
}


/* ----- Item Bar ----- */

.itembar {
  display: flex;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 0vh;
  height: 6vw;
  background-color: #30003c;
}


/* ----- Delete Box ----- */

.deleteBox {
  width: 40%;
  height: 5vh;
  background-color: red;
  margin-left: 30%;
  margin-top: 5vw;
}

.delbox_nodisplay {
  display: none;
}

.delbox_display {
  display: inline;
} 




