.contact_container {
  display: flex;
}

.contact_cont {
  width: 90%;
  margin: 130px auto 30px auto;
}

.contact_title {
  background-color: black;
  border-radius: 5px;
  padding: 0px 0px 0px 30px;
  opacity: 0.6;
  color: white;
  font-size: 100px;
  font-family: monospace;
  font-weight: bold;
}

.contact_content_cont {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
  justify-content: center;
  padding: 75px;
  margin-bottom: 120px;
  margin-top: 50px;
  background-color: #444444;
  opacity: 0.9;
}

.email {
  margin: auto;
  width: 60%;
  height: 50px;
  font-size: 18px;
  font-family: monospace;
  margin-bottom: 50px;
}

.text_area {
  margin: auto;
  width: 60%;
  height: 300px;
  font-size: 18px;
  font-family: monospace;
  margin-bottom: 50px;
}

.send_button {
  color: black;
  font-family: monospace;
  font-size: 30px;
  border: 1px solid black;
  font-weight: bold;
  border-radius: 8px;
  background-color: #29E66B;
  padding: 5px 25px 5px 25px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.9;
  margin-bottom: 10px;
}

.send_button:hover {
  opacity: 1;
  cursor: pointer;
}

.message_response {
  font-size: 20px;
  font-family: monospace;
  margin: auto;
  margin-top: 20px;
  color: white;
  height: 10px;
}


@media screen and (max-width: 1400px) {
  .contact_cont {
    width: 95%;
  }
  .contact_title {
    font-size: 50px;
  }
  .contact_text {
    font-size: 14px;
    padding: 30px;
  }
  .contact_content_cont {
    margin-top: 35px;
    width: 95%;
    padding: 20px;
  }
  .email {
    margin-top: 30px;
    width: 90%;
  }
  .text_area {
    width: 90%;
  }
  .send_button {
    font-size: 25px;
  }
}


