.preview_container {
  display: flex;
}

.preview_cont {
  display: flex;
  width: 80%;
  height: 715px;
  margin: 150px auto 150px auto;
  border: 2px solid #aaaaaa;
  background-color: #444444;
  opacity: 0.9;
}

.carousel {
  margin-left: 12px;
  margin-top: 10px;
  width: 550px;
  height: 600px;
  border: 1px solid #aaaaaa;
}

.mini_image_container {
  display: flex;
  margin-left: 12px;
}

.mini_image_cont {
  display: flex;
  width: 400px;
  height: 105px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.mini_image { 
  width: 70px;
  height: 70px;
  margin: 15px auto 15px auto;
  opacity: 0.8;
  border: 1px solid #aaaaaa;
}

.mini_image:hover {
  opacity: 1;
  cursor: pointer;
}

.item_control_cont {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.image {
  width: 100%;
  height: 100%;
}

.item_info_cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #444444;
  opacity: 0.9;
  flex: 1;
}

.title {
  color: white;
  font-weight: bold;
  font-family: monospace;
  font-size: 50px;
  line-height: 50px;
  margin-left: 40px;
  margin-top: 20px;
}

.description {
  color: white;
  font-weight: bold;
  font-family: monospace;
  font-size: 20px;
  margin-left: 100px;
  margin-top: 30px;
  word-wrap: break-word;
  width: 600px;
}

.price {
  width: 150px;
  margin-left: 100px;
  margin-top: 20px;
  padding: 10px 30px 10px 30px;
  text-align: center;
  font-size: 25px;
  color: white;
  font-family: monospace;
  border: 1px solid white;
  font-weight: bold;
  border-radius: 4px;
  background-color: #111111;
}

.size_cont {
  display: flex;
  margin: 40px 150px 0px 150px;
}

.size_element_cont {
  width: 25%;
  display: flex;
}

.size_element {
  font-size: 50px;
  width: 80px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-family: monospace;
  border: 2px solid white;
  background-color: #111111;
  border-radius: 1000px;
  margin: auto;
  opacity: 0.85;
}

.size_element:hover {
  opacity: 1;
  cursor: pointer;
}

.no_stock {
  opacity: 0.2;
}

.no_stock:hover {
  opacity: 0.2;
  cursor: default;
}

.size_select {
  border: 2px solid green;
  color: green;
  opacity: 1;
}

.checkout_cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250px;
  background-color: #444444;
  opacity: 0.8;
  padding: 20px;
}

.add_to_basket, .continue_shopping {
  width: 350px;
  margin: 20px auto 20px auto;
  padding: 10px 0px 10px 0px;
  text-align: center;
  font-size: 30px;
  color: white;
  font-family: monospace;
  border: 2px solid white;
  font-weight: bold;
  border-radius: 8px;
  background-color: #111111;
  opacity: 0.9;
}

.add_to_basket:hover, .continue_shopping:hover {
  opacity: 1;
  cursor: pointer;
}

.display_none {
  display: none;
}


/* --------- Item Preview - Mobile --------- */

.preview_mobile_cont {
  display: none;
  flex-direction: column;
  width: 90%;
  margin: 150px auto 150px auto;
}

.preview_mobile_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 150px;
  background-color: #444444;
}

.carousel_mobile {
  width: 100%;
  height: auto;
}

.preview_mobile_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  background-color: #444444;
}

.checkout_mobile_cont {
  background-color: #444444;
}


@media screen and (max-width: 1300px) {
  .add_to_basket, .continue_shopping {  
    font-size: 20px;
    width: 225px;
    margin: 20px auto 20px auto;
  }
}

@media screen and (max-width: 1150px) {
  .preview_cont {
    display: none;
  }
  .preview_mobile_cont {
    display: flex;
  }
  .item_info_element {
    margin: 3px auto 3px auto;
  }
}


.buttons{margin: 0;padding: 0;height: 100vh;display: flex;justify-content: center;align-items: center}
.cart-button{position: relative;outline: 0;background-color: blue;color: #fff;border: none;height: 48px;width: 200px;padding: 10px;border-radius: 10px;line-height: 0px;overflow: hidden;cursor:pointer}
.cart-button:focus{outline: none !important}
/*.cart-button .fa-shopping-cart{position: absolute;z-index: 2;top: 50%;left: -20%;font-size: 1.8em;transform: translate(-50%, -50%)}
.cart-button .fa-square{position: absolute;z-index: 1;top: -20%;left: 53%;font-size: 0.8em;transform: translate(-50%, -50%)}
.cart-button span{position: absolute;left: 50%;top: 50%;color: #fff;transform: translate(-50%, -50%)}
.cart-button span.added{opacity: 0}
.cart-button.clicked .fa-shopping-cart{animation: cart 2s ease-in forwards}
.cart-button.clicked .fa-square{animation: box 2s ease-in forwards}
.cart-button.clicked span.add-to-cart{animation: addcart 2s ease-in forwards}.
.cart-button.clicked span.added{animation: added 2s ease-in forwards}*/
@keyframes cart{0%{left: -10%}40%, 60%{left: 50%}100%{left: 110%}}
@keyframes box{0%, 40%{top: -20%}60%{top: 36%;left: 53%}100%{top: 40%;left: 112%}}
@keyframes addcart{0%, 30%{opacity: 1}30%, 100%{opacity: 0}}
@keyframes added{0%, 80%{opacity: 0}100%{opacity: 1}}






