.preview_container {
  display: flex;
}

.preview_cont {
  display: flex;
  width: 80%;
  height: 715px;
  margin: 150px auto 150px auto;
  border: 2px solid #aaaaaa;
  background-color: #444444;
  opacity: 0.9;
}

.carousel {
  margin-left: 12px;
  margin-top: 10px;
  width: 550px;
  height: 600px;
  border: 1px solid #aaaaaa;
}

.mini_image_container {
  display: flex;
  margin-left: 12px;
}

.mini_image_cont {
  display: flex;
  width: 400px;
  height: 105px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.mini_image { 
  width: 70px;
  height: 70px;
  margin: 15px auto 15px auto;
  opacity: 0.8;
  border: 1px solid #aaaaaa;
}

.mini_image:hover {
  opacity: 1;
  cursor: pointer;
}

.item_control_cont {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.image {
  width: 100%;
  height: 100%;
}

.item_info_cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.title {
  color: white;
  font-weight: bold;
  font-family: monospace;
  font-size: 50px;
  line-height: 50px;
  margin-left: 40px;
  margin-top: 20px;
}

.description {
  color: white;
  font-weight: bold;
  font-family: monospace;
  font-size: 20px;
  margin-left: 100px;
  margin-top: 30px;
  word-wrap: break-word;
}

.price {
  width: 150px;
  margin-left: 100px;
  margin-top: 20px;
  padding: 10px 30px 10px 30px;
  text-align: center;
  font-size: 25px;
  color: white;
  font-family: monospace;
  border: 1px solid white;
  font-weight: bold;
  border-radius: 4px;
  background-color: #111111;
}

.size_cont {
  display: flex;
  margin: 40px 150px 0px 150px;
}

.size_element {
  font-size: 50px;
  width: 80px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-family: monospace;
  border: 2px solid white;
  background-color: #111111;
  border-radius: 1000px;
  margin: auto;
  opacity: 0.85;
}

.size_element:hover {
  opacity: 1;
  cursor: pointer;
}

.no_stock {
  opacity: 0.2;
}

.no_stock:hover {
  opacity: 0.2;
  cursor: default;
}

.size_select {
  border: 2px solid green;
  color: green;
  opacity: 1;
}

.checkout_cont {
  display: flex;
  flex-direction: column;
  height: 250px;
  padding: 20px;
}

.add_to_basket, .continue_shopping {
  width: 350px;
  margin: 20px auto 20px auto;
  padding: 10px 0px 10px 0px;
  text-align: center;
  font-size: 30px;
  color: white;
  font-family: monospace;
  border: 2px solid white;
  font-weight: bold;
  border-radius: 8px;
  opacity: 0.9;
}

.add_to_basket {
  background-color: #3b9913;
}

.continue_shopping {
  background-color: #111111;
}

.add_to_basket:hover, .continue_shopping:hover {
  opacity: 1;
  cursor: pointer;
}

.display_none {
  display: none;
}


/* --------- Item Preview - Mobile --------- */

.preview_mobile_cont {
  display: none;
  flex-direction: column;
  width: 90%;
  margin: 140px auto 100px auto;
}

.preview_mobile_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250px;
  background-color: #444444;
  border: 1px solid white;
  width: 100%;
}

.title_mobile {
  color: white;
  font-weight: bold;
  font-family: monospace;
  font-size: 50px;
  line-height: 50px;
  margin-left: 40px;
  margin-top: 40px;
}

.description_mobile {
  color: white;
  font-weight: bold;
  font-family: monospace;
  font-size: 20px;
  margin-top: 30px;
  width: 80%;
  margin-left: 10%;
  word-wrap: break-word;
  margin-bottom: 40px;
}

.carousel_cont_mobile {
  display: flex;
  background-color: #444444;
  border: 1px solid white;
}

.carousel_mobile {
  padding: 50px;
}

.preview_mobile_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  background-color: #444444;
  margin: 0px auto 50px auto;
  border: 1px solid white;
  width: 100%;
}


.price_mobile {
  width: 200px;
  margin: 20px auto 30px auto;
  padding: 10px 30px 10px 30px;
  text-align: center;
  font-size: 25px;
  color: white;
  font-family: monospace;
  border: 1px solid white;
  font-weight: bold;
  border-radius: 4px;
  background-color: #111111;
}

.size_cont_mobile {
  width: 50%;
  margin-left: 25%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.size_element_mobile {
  width: 80px;
  font-size: 50px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-family: monospace;
  border: 2px solid white;
  background-color: #111111;
  border-radius: 1000px;
  margin: auto;
  opacity: 0.85;
}

.size_element_mobile:hover {
  opacity: 1;
  cursor: pointer;
}

.mini_image_container_mobile {
  display: flex;
  background-color: #444444;
  border: 1px solid white;
}

.mini_image_cont_mobile {
  display: flex;
  width: 400px;
  height: 125px;
  margin: 10px auto 10px auto;
  justify-content: center;
}

.mini_image_mobile { 
  width: 90px;
  height: 90px;
  margin: 15px auto 15px auto;
  opacity: 0.8;
  border: 1px solid #aaaaaa;
}

.mini_image_mobile:hover {
  opacity: 1;
  cursor: pointer;
}


/* -------  Resizing  --------- */

@media screen and (max-width: 1500px) {
  .title {
    font-size: 40px;
  }
  .description {
    font-size: 17px;
    width: 450px;
    margin: 20px auto 20px auto;
  }
  .add_to_basket, .continue_shopping {
    width: 300px;
    font-size: 25px;
  }
  .size_cont {
    margin: 40px auto 0px auto;
  }
  .size_element {
    margin-left: 5px;
    margin-right: 5px;
  }
  .preview_cont {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}


@media screen and (max-width: 1250px) {
  .preview_cont {
    display: none;
  }
  .preview_mobile_cont {
    display: flex;
  }
  .item_info_element {
    margin: 3px auto 3px auto;
  }
}


@media screen and (max-width: 800px) {
  .carousel_mobile {
    margin: 25px auto 25px auto;
    padding: 10px;
  }
  .size_cont_mobile {
    width: 80%;
    margin-left: 10%;
  }
  .size_element_mobile {
    width: 72px;
    font-size: 45px;
  }
  .preview_mobile_header {
    height: 300px;
  }
  .title_mobile {
    font-size: 40px;
  }
  .description {
    font-size: 15px;
  }
}

@media screen and (max-width: 500px) {
  .carousel_mobile {
    margin: 25px auto 25px auto;
    padding: 10px;
  }
  .size_cont_mobile {
    width: 90%;
    margin-left: 5%;
  }
  .size_element_mobile {
    width: 65px;
    font-size: 40px;
  }
  .preview_mobile_header {
    height: 250px;
  }
  .title_mobile {
    font-size: 32px;
    margin-top: 20px;
  }
  .description_mobile {
    font-size: 12px;
  }
  .mini_image_mobile {
    height: 75px;
    width: 75px;
    margin-left: 12px;
    margin-right: 12px;
  }
  .mini_image_cont_mobile {
    height: 105px;
  }
}








