
/* ------------  Carousel  ------------ */

.carousel_cont {
  height: 75vh;
  width: 88%;
  margin-left: 6%;
  margin-top: 2vh;
  background-size: contain;
  overflow: hidden;
}



/* ------------  About Us  ------------ */

.circleContainer {
  flex-wrap: wrap;
  display: flex;
  width: 88%;
  margin-left: 6%;
  margin-top: 2vh;
  background-color: #86C2A4;
}

.circleImg {
  width: 60%;
  margin-left: 20%;
  height: 28vh;
  margin-top: 3.5vh;
  border-radius: 100%;
  object-fit: cover;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size:100% 100%;
}

.circleCont {
  width: 33.3%;
  height: 100%;
}

.circleText {
  width: 60%;
  margin-left: 20%;
  height: 6vh;
  margin-top: 3.5vh;
  border-radius: 100%;
  margin-bottom: 3.5vh;
  font-weight: bold;
  font-size: 4vh;
  text-align: center;
  color: black;
  font-family: monospace;
}

.img1 {
  background-image: url('../../images/IMG-3162.jpg');
}

.img2 {
  background-image: url('../../images/IMG-3163.jpg');
}

.img3 {
  background-image: url('../../images/IMG-3111.jpg');
}

.circleImg:hover, .circleImg2:hover, .circleImg3:hover{
  opacity: 0.9;
  cursor: pointer;
}




/* ------------  shopDrop  ------------ */

.shopNowCont {
  height: 60vh;
  width: 88%;
  margin-left: 6%;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: #86C2A4;
}

.boxCont {
  display: flex;
  flex-direction: row;
  height: 40vh;
  width: 100%;
  margin-left: 0%;
  margin-top: 0%;
}

.box {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.smallCont {
  display: flex;
  width: 100%;
  height: 10vh;
}

.smallBox {
  height: 100%;
  width: 100%;
}

.squareCont {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
}

.large {
  height: 75%;
}

.squareImg {
  width: 60%;
  margin-left: 20%;
  height: 28vh;
  margin-top: 4vh;
  object-fit: cover;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size:100% 100%;
  background-color: #999999;
}

.sImg1 {
  background-image: url('../../images/IMG-3111.jpg');
}

.sImg2 {
  background-image: url('../../images/IMG-3111.jpg');
}

.sImg3 {
  background-image: url('../../images/IMG-3111.jpg');
}


.squareImg:hover{
  opacity: 0.9;
  cursor: pointer;
}

.squareTxt {
  font-weight: bold;
  font-size: 4vh;
  margin-top: 3vh;
  text-align: center;
  color: black;
  font-family: monospace;
}

.shopTitle {
  color: white;
  font-family: monospace;
  width: 60%;
  margin-left: 20%;
  margin-top: 2.5vh;
  height: 1vh;
  padding: 0em 0em 1.6em 0em;
  border-radius: 8px;
  background-color: #333333;
  text-align: center;
  font-size: 4vh;
  border: 1px solid black;
}

.shopTitle:hover {
  opacity: 0.9;
  cursor: pointer;
}

.titleDash {
  color: #333333;
  font-family: monospace;
  width: 60%;
  margin-left: 20%;
  margin-top: 3vh;
  height: 0.5vh;
  padding: 0em 0em 0em 0em;
  border-radius: 8px;
  background-color: #333333;
  text-align: center;
  font-size: 4vh;
}

.crown {
  width: 18%;
  margin-left: 41%;
  height: 12vh;
  margin-top: -2vh;
  object-fit: cover;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: 100% 100%;
  background-image: url('../../images/1nce-logo.png');
}

.crown:hover {
  opacity: 0.9;
  cursor: pointer;
}


