.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 80vw;
  margin-top: 5vh;
  margin-left: 10vw;
  background-color: #dddddd;
  padding: 0% 0% 4% 0%;
}

.carousel_cont {
  display: flex;
  height: 60vh;
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
  border: 1px solid black;
  border-radius: 1%;
  background-color: #999999;
}
