
/* ------------  Carousel  ------------ */
.carousel_cont {
  height: 75vh;
  width: 88%;
  margin-left: 6%;
  margin-top: 2vh;
  background-size: contain;
  overflow: hidden;
}



/* ------------  About Us  ------------ */
.aboutContainer {
  flex-wrap: wrap;
  display: flex;
  /*height: 35vh;*/
  width: 88%;
  margin-left: 6%;
  margin-top: 2vh;
  background-color: #86C2A4;
}

.circleImg {
  width: 60%;
  margin-left: 20%;
  height: 28vh;
  margin-top: 3.5vh;
  border-radius: 100%;
  object-fit: cover;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size:100% 100%;
}

.circleCont {
  width: 33.3%;
  height: 100%;
}

.circleText {
  width: 60%;
  margin-left: 20%;
  height: 6vh;
  margin-top: 3.5vh;
  border-radius: 100%;
  margin-bottom: 3.5vh;
  font-weight: bold;
  font-size: 4vh;
  text-align: center;
  color: black;
  font-family: monospace;
}

.img1 {
  background-image: url('../../images/IMG-3162.jpg');
}

.img2 {
  background-image: url('../../images/IMG-3163.jpg');
}

.img3 {
  background-image: url('../../images/IMG-3111.jpg');
}

.circleImg:hover, .circleImg2:hover, .circleImg3:hover{
  opacity: 0.9;
  cursor: pointer;
}



/* ------------  shopDrop  ------------ */
/*.section2Cont {
  display: flex;
  height: 60vh;
  width: 100%;
  margin-left: 0%;
  margin-top: 5%;
  border: 1px solid black;
  border-radius: 1%;
  background-color: #999999;
}

.linkCont {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  margin-left: 0%;
  margin-top: 0%;
  border: 1px solid black;
  border-radius: 1%;
  background-color: #999999;
}

.linkBtn1Cont {
  display: flex;
  width: 100%;
  height: 50%;
  background-color: red;
}

.linkBtn2Cont {
  display: flex;
  width: 100%;
  height: 50%;
  background-color: green;
}
*/