#imgCanvas {
  height: 1px;
  width: 1px;
}

#canvas {
  height: 1px;
  width: 1px;
}

/*
#newImageBtn1 {
  position: absolute;
  width: 19%;
  left: -3%;
  margin-top: -5.9%;
  height: 2.25vw;
}

#newImageBtn2 {
  position: absolute;
  width: 19%;
  left: -3%;
  margin-top: -2.2%;
  height: 2.25vw;
}

#newImageBtn3 {
  position: absolute;
  width: 19%;
  left: -3.1%;
  height: 2.25vw;
}*/