.checkout_container {
  display: flex;
}

.checkout_cont {
  width: 90%;
  margin: 130px auto 30px auto;
}

.checkout_title {
  background-color: black;
  border-radius: 5px;
  padding: 0px 0px 0px 30px;
  opacity: 0.6;
  color: white;
  font-size: 100px;
  font-family: monospace;
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  .checkout_title {
    font-size: 75px;
    height: 115px;
  }
}
