.storeAdminCont{
  display: flex;
  width: 90%;
  margin-left: 5%;
  height: auto;
  opacity: 0.8;
  background-color: green;
}

.addItemCont{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 35%;
  border: 1px solid black;
}

.deleteItemCont{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: 1px solid black;
}

.addItem {
  color: black;
  font-family: monospace;
  width: 80%;
  margin-left: 10%;
  margin-top: 4vw;
  margin-bottom: 4vw;
  height: 4vw;
  padding: 0.2em 0em 1.6em 0em;
  border-radius: 8px;
  background-color: #29E66B;
  text-align: center;
  font-size: 2vw;
  border: 1px solid black;
  font-weight: bold;
}

.addItem:hover {
	opacity: 0.9;
	cursor: pointer;
}

.itemTitle, .itemPrice, .itemDescription, .itemSize, .itemColour, .itemQuantity, .imageUpload {
  width: 80%;
  margin-left: 10%;
  margin-top: 3.5vw;
  font-size: 1.5vw;
  color: black;
  font-family: monospace;
  font-weight: bold;
}

.itemDescription{
  height: 8vw;
}
