.storeAdminCont{
  display: flex;
  width: 90%;
  margin-left: 5%;
  height: auto;
  opacity: 0.8;
  background-color: green;
}

.addItemCont{
  width: 35%;
  border: 1px solid black;
}

.editItemCont{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: 1px solid black;
}

.addItem, .editItem, .delItem {
  color: black;
  font-family: monospace;
  width: 80%;
  margin-left: 10%;
  margin-top: 4vw;
  margin-bottom: 4vw;
  height: 4vw;
  padding: 0.2em 0em 1.6em 0em;
  border-radius: 8px;
  text-align: center;
  font-size: 2vw;
  border: 1px solid black;
  font-weight: bold;
}

.addItem:hover, .editItem:hover, .delItem:hover {
  opacity: 0.9;
  cursor: pointer;
}

.addItem {
  background-color: #29E66B;
}

.editItem {
  background-color: yellow;
}

.delItem {
  background-color: red;
}

.itemTitle, .itemPrice, .itemDescription, .itemSize, .itemColour, .itemQuantity, .itemCategory, 
.imageUpload1, .imageUpload2, .imageUpload3, .newImageUpload1, .newImageUpload2, .newImageUpload3 {
  width: 80%;
  margin-left: 10%;
  margin-top: 2.5vw;
  font-size: 1.5vw;
  color: black;
  font-family: monospace;
  font-weight: bold;
}

.itemDescription{
  height: 8vw;
}

.imgUploadToggle1, .imgUploadToggle2, .imgUploadToggle3, .newImgUploadToggle1, .newImgUploadToggle2, 
.newImgUploadToggle3 {
  opacity: 0;
  z-index: -1;
}

#newImageBtn1 {
  position: absolute;
  width: 19%;
  left: -3%;
  margin-top: -8%;
}

#newImageBtn2 {
  position: absolute;
  width: 19%;
  left: -3%;
  margin-top: -2.75%;
}

#newImageBtn3 {
  position: absolute;
  width: 19%;
  left: -3%;
}



