.store_admin_container{
  display: flex;
  flex-direction: column;
}

.store_admin_cont{
  display: flex;
  background-color: green;
  margin: 140px auto 0px auto;
  border: 1px solid black;
  width: 95%;
}

.add_item_cont{
  display: flex;
  justify-content: center;
  width: 400px;
  border: 1px solid black;
}

.item_form {
  margin: 30px auto 30px auto;
  display: flex;
  flex-direction: column;
}

.edit_item_cont{
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  border: 1px solid black;
}

.addItem, .editItem, .delItem {
  width: 250px;
  height: 70px;
  margin: 30px auto 30px auto;
  border-radius: 8px;
  font-size: 32px;
  border: 1px solid black;
  color: black;
  font-family: monospace;
  font-weight: bold;
}

.addItem:hover, .editItem:hover, .delItem:hover {
  opacity: 0.9;
  cursor: pointer;
}

.addItem {
  background-color: #29E66B;
}

.editItem {
  background-color: yellow;
}

.delItem {
  background-color: red;
}

.itemTitle, .itemPrice, .itemDescription, .itemSize, .itemLabel, .itemSale, .itemColour, .itemQuantity, .itemCategory, 
.imageUpload1, .imageUpload2, .imageUpload3, .newImageUpload1, .newImageUpload2, .newImageUpload3 {
  width: 280px;
  margin: 15px auto 15px auto;
  font-size: 20px;
  color: black;
  font-family: monospace;
  font-weight: bold;
  z-index: 1;
}

.itemPrice, .itemSale {
  width: 130px;
}

.itemDescription{
  height: 150px;
  font-size: 18px;
}

.newImgUploadToggle1, .newImgUploadToggle2, .newImgUploadToggle3 {
  opacity: 0;
  z-index: 0;
}

.newImageUpload1 {
  position: absolute;
  margin-top: 782px;
}

.newImageUpload2 {
  position: absolute;
  margin-top: 848px;
}

.newImageUpload3 {
  position: absolute;
  margin-top: 914px;
}


/* ----- Size qty box ----- */

.size_qty_cont {
  display: flex;
  width: 200px;
  margin: 5px auto 5px auto;
}

.size_qty_inner_cont {
  display: flex;
  flex-direction: column;
  width: 100px;
}

.size_text {
  width: 50px;
  margin: 10px auto 10px auto;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #eeeeee;
  font-family: monospace;
  border-radius: 2px;
  background-color: #333333;
  border: 1px solid white;
}

.qty_field {
  width: 60px;
  margin: 11.5px auto 10px auto;
  text-align: center;
  font-weight: bold;
}


/* -------- Admin Control Pannel -------- */

.store_admin_controls_cont {
  background-color: green;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 95%;
  margin: 0px auto 150px auto;
}

.get_email_distribution_list {
  width: 300px;
  height: 60px;
  margin: 40px auto 10px auto;
  border-radius: 8px;
  font-size: 24px;
  border: 1px solid black;
  color: white;
  vertical-align: middle;
  text-align: center;
  padding-top: 12px;
  font-family: monospace;
  background-color: blue;
  opacity: 0.9;
  font-weight: bold;
}

.get_email_distribution_list:hover {
  opacity: 1;
  cursor: pointer;
}

.clipboard_copied {
  text-align: center;
  font-size: 15px;
  color: #eeeeee;
  font-family: monospace;
  margin-bottom: 15px;
  opacity: 1;
}

.opacity_0 {
  opacity: 0;
  margin-bottom: 15px;
}


@media screen and (max-width: 1600px) {
  .edit_item_cont {  
    justify-content: center;
  }
}

@media screen and (max-width: 800px) {
  .store_admin_cont {  
    flex-direction: column;
  }
  .add_item_cont {
    width: 100%;
  }
}


