.basket_container {
  display: flex;
}

.basket_cont {
  width: 90%;
  margin: 130px auto 150px auto;
}

.basket_title {
  background-color: black;
  border-radius: 5px;
  padding: 0px 0px 0px 30px;
  opacity: 0.6;
  color: white;
  font-size: 100px;
  font-family: monospace;
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  .basket_title {
    font-size: 75px;
    height: 115px;
  }
}

.basket_content_cont {
  display: flex;
}

.basket_item_cont {
  background-color: #333333;
  opacity: 0.9;
  border-radius: 5px;
  margin: 20px;
  flex: 1;
}

.summary_cont {
  width: 350px;
  height: 350px;
  margin: 50px;
  background-color: #333333;
  opacity: 0.9;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.basket_tile {
  display: flex;
  width: 95%;
  margin: 40px 2.5% 40px 2.5%;
  height: 250px;
  opacity: 0.9;
}

.basket_image_cont {
  width: 220px;
  background-color: #000000;
}

.basket_info_cont {
  flex: 1;
  background-color: #111111;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.price_cont {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  width: 150px;
}

.basket_deleteTile {
  width: 70px;
  height: 50px;
  background-image: url('../../images/deleteTile.png');
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: 100% 100%;
  opacity: 0.9;
  position: absolute;
  margin-top: -200px;
  margin-right: -100px;
}

.basket_deleteTile:hover {
  opacity: 1;
  cursor: pointer;
}

.price {
  color: white;
  font-size: 30px;
  font-family: monospace;
  font-weight: bold;
  justify-content: center;
}

.price_mobile {
  color: white;
  font-size: 25px;
  font-family: monospace;
  font-weight: bold;
  display: none;
  margin: auto;
}

.basket_image {
  width: 90%;
  height: 90%;
  margin-top: 5%;
  margin-left: 5%;
}

.title {
  color: white;
  font-size: 40px;
  line-height: 40px;
  font-family: monospace;
  font-weight: bold;
  margin-left: 40px;
  margin-top: 10px;
  max-height: 100px;
}

.description {
  color: white;
  font-size: 25px;
  line-height: 30px;
  font-family: monospace;
  font-weight: bold;
  margin-left: 40px;
  margin-top: 10px;
}

.size_colour {
  color: white;
  font-size: 20px;
  font-family: monospace;
  font-weight: bold;
  margin-left: 40px;
  margin-top: 10px;
}


/* ----- Summary Pannel ----- */

.checkout_button {
  width: 250px;
  margin: 20px auto 20px auto;
  padding: 10px 0px 10px 0px;
  text-align: center;
  font-size: 30px;
  color: white;
  font-family: monospace;
  border: 2px solid white;
  font-weight: bold;
  border-radius: 8px;
  opacity: 0.9;
  margin-bottom: 20px;
  background-color: green;
  user-select: none;
}

.checkout_button:hover {
  cursor: pointer;
  opacity: 1;
}

.summary_title {
  color: white;
  font-size: 50px;
  font-family: monospace;
  font-weight: bold;
  margin-bottom: 20px;
}

.summary_price {
  color: white;
  font-size: 50px;
  font-family: monospace;
  font-weight: bold;
  margin-bottom: 20px;
}


@media screen and (max-width: 1750px) {
  .basket_content_cont {
    flex-direction: column;
  }
  .summary_cont {
    width: 80%;
    margin-top: 15px;
    margin-left: 10%;
    margin-bottom: 40px;
  }
  .summary_title {
    font-size: 60px;
    margin-top: 20px;
  }
  .summary_price {
    font-size: 60px;
    margin: 0px;
  }
  .checkout_button {
    font-size: 35px;
    width: 300px;
    margin-bottom: 50px;
  }
  .basket_cont {
    width: 98%;
    margin: 130px auto 150px auto;
  }
}


@media screen and (max-width: 1250px) {
  .title {
    font-size: 30px;
    line-height: 30px;
  }
  .description {
    font-size: 20px;
    line-height: 25px;
  }
}

@media screen and (max-width: 1000px) {
  .title {
    font-size: 22px;
    line-height: 20px;
    margin: 15px;
  }
  .description {
    font-size: 15px;
    line-height: 18px;
    margin: 15px;
  }
  .price_cont {
    width: 80px;
  }
  .price {
    font-size: 20px;
  }
  .size_colour {
    font-size: 15px;
    margin: 15px;
  }
  .basket_deleteTile {
    width: 55px;
    height: 38px;
    margin-top: -210px;
    margin-right: -35px;
  }
}

@media screen and (max-width: 750px) {
  .basket_tile {
    height: 200px;
  }
  .title {
    font-size: 18px;
    line-height: 20px;
  }
  .description {
    font-size: 12px;
    line-height: 18px;
  }
  .price_cont {
    width: 80px;
  }
  .price {
    font-size: 15px;
  }
  .size_colour {
    font-size: 12px;
  }
  .basket_deleteTile {
    width: 45px;
    height: 30px;
    margin-top: -220px;
    margin-right: -40px;
  }
  .summary_title {
    font-size: 45px;
  }
  .summary_price {
    font-size: 45px;
  }
  .basket_image_cont {
    width: 120px;
  }
  .basket_image {
    height: 40%;
  }
  .price_cont {
    width: 0px;
  }
  .price {
    display: none;
  }
  .basket_deleteTile {
    margin-right: 50px;
    margin-top: -150px;
  }
  .price_mobile {
    display: inline;
  }
  .basket_image_cont {
    display: flex;
    flex-direction: column;
  }
  .checkout_button {
    margin-top: 50px;
    width: 80%;
    font-size: 30px;
  }
}